.nav {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.nav-btn {
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  color: white;
}
