/* flex container for product cards */
.card-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 30px;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  flex: 1;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.card-btn {
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  color: white;
}

.card-btn-admin {
  background-color: rgb(215, 215, 235);
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  color: black;
}

.job-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .jobs {
    flex-direction: column;
    align-items: center;
  }
}
